@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.syncfusion.com/ej2/material.css');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fdf9ff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  @apply bg-blue-100;
}
.shadow {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 9;
}
.shadow-none {
  box-shadow: none !important;
}

.nav-item,
.navbar {
  z-index: 10000;
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  display: none;
  border-width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* .e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
} */

.e-frame {
  border-radius: 35% !important;
}
.e-control {
  border-radius: 15px !important;
}

img {
  width: 100%;
  height: 100%;
}

.parent .item:first-child h1 {
  color: red;
}
.apexcharts-toolbar {
  display: none !important;
}

.side {
  width: 270px !important;
  z-index: 99;
}
.content {
  width: calc(100% - 270px) !important;
}

@media (max-width: 1100px) {
  .side {
    width: 240px !important;
  }
  .content {
    width: calc(100% - 240px) !important;
  }
}
@media (max-width: 991px) {
  .content {
    width: 100% !important;
  }
  .side {
    width: 260px !important;
  }
}
